package components

import "github.com/ReLaMi96/gobaas/models"

templ StatBoard(stats []models.SingleStat) {
    for _, stat := range stats {
        @SingleStat(stat)
    }
}

templ SingleStat(stat models.SingleStat) {
	<div class="stats shadow place-self-start justify-self-start bg-base-300 m-1">
		<div class="stat">
			<div class="stat-title">{stat.Title}</div>
			<div class="stat-value">{stat.Value}</div>
			<div class="stat-desc">{stat.Description}</div>
		</div>
	</div>
}