package templates

import "github.com/ReLaMi96/gobaas/components"

templ Base(view templ.Component) {
    <html lang="en" data-theme="dark">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="/static/js/htmx.min.js"></script>
            <link rel="stylesheet" href="/static/css/app.css">
        </head>
        <body>
            @components.Sidemenu(view)
        </body>
    </html>
}